.jumbotron {
    background-color: #5E3FA2;
    height: 200px;
}

.jumbotron h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.row {
    justify-content: space-evenly;
    height: 80px;
}

.row button {
    border-radius: 10px;
    background-color: #5E3FA2;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px 5px violet;
    margin: 1.4em;
    font-family: 'Roboto', sans-serif;
}

.card .card-title {
font-weight: bold;
}