.jumbotron{
background-color: lightgreen;
/*position: relative;*/
/*justify-content: ; */

/*display: flex;
align-items: center;*/
}
.jumbotron h2{
text-align: center;
}

.jumbotron p{
    font-size: 16pt;
    border: black 2px;
    padding: 5px;
    text-align: center;
}

/*.container{
width: 700px;
margin-right: auto;
margin-left: auto;
}*/
.row  {
justify-content: center;
column-gap: 80px;
height: 80px;
}

.row button  {
    border-radius: 10px;
    background-color: blue;
    color: white;
    }
    
