.quiz-Maker-container {
    background-color: #5E3FA2;

}

.jumbotron {
    background-color: transparent !important;
}

.jumbotron h2 {
    color:white;
    text-align: center;
}

.jumbotron p {
    color:white;
    font-size: 16pt;
    border: black 2px;
    padding: 5px;
    text-align: center;
}

.container {
    height: 500px;
}
.container h3 {
    color: white;
}
.row {
    justify-content: center;
    column-gap: 80px;
    height: 80px;
}

.row button {
    border-radius: 10px;
    background-color: #5E3FA2;
    color: white;
}


/******************************************
/Media Query  - responsive
/*******************************************/

@media only screen and (max-width: 1000px) {

    .contact-info {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
        max-width: 400px;
        margin: 40px 0;
    }
}