.jumbotron {
    background-color: #5E3FA2;
    height: 200px;
}

.jumbotron h2 {
    color: white;
}

.row {
    justify-content:space-evenly;
    height: 80px;
}

.row button {
    border-radius: 10px;
    background-color: #5E3FA2;
    color: white;
}

h1{
    text-align: center;
}

.card{
    height: 200px;
    width: 800px;
    box-shadow: 10px 10px 10px 10px violet;
}